<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="nav">
        <button>Test</button>
        <button>Test1</button>
        <button>Test2</button>
        <button>Test3</button>
        <h1>Namu Darbas</h1>
        <input class="search" type="text" placeholder="Search....">
    </div>
    <div id="main">
        <div id="left" class="col">
            <div class="title"><h3>Menu</h3></div>
            <div class="menu-item"><a href="#">Main page</a></div>
            <div class="menu-item"><a href="#">Messages</a></div>
            <div class="menu-item"><a href="#">Settings</a></div>
            <div class="menu-item"><a href="#">Logout</a></div>
        </div>
        <div id="content" class="col">
            <div class="title"><h2>Feed</h2></div>
            <div class="post">Musu postas</div>
            <div class="post">Musu postas</div>
            <div class="post">Musu postas</div>
            <div class="post">Musu postas</div>
        </div>
        <div id="right" class="col">
            <div class="title"><h3>Friends</h3></div>
            <div class="friend">Petras</div>
            <div class="friend">Jonas</div>
            <div class="friend">Tomas</div>
            <div class="friend">Andrius</div>
        </div>
    </div>
    <div id="footer">test</div>
</body>
</html>